:root{
    --orange: rgba(242,202,151,1);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
}



.App{
    
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(242,202,151,1) 0%, rgba(213,146,33,1) 53%, rgba(171,126,25,1) 100%);


}

.AppGlasws{
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 2rem;
    background-color: #ffeed8;
    overflow: hidden;
    grid-template-columns: 11rem auto;


}